html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

/* Grid and boxes */
.grid {
    border: 10px solid brown;
    background-color: burlywood;
    display: flex;
    flex-flow: wrap;
    transform: scale(1,0.5) rotate(45deg);
}

.box {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.innerbox {
    width: 90%;
    height: 90%;
    background-color: rosybrown;
    border: 1px solid brown;
    border-radius: 5px;
}