/*dark palette https://www.color-hex.com/color-palette/18010 */
/* incognito https://www.schemecolor.com/google-chrome-incognito-mode-ui-colors.php */

* {
    padding: 0;
    margin: 0;
    color: #D6D6D7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

html {
    height: 100%;
    background-color: #202124;
}
body {
    height: 100%;
}

#header {
    background-color: #202124;
    text-align: center;
}

#footer {
    background-color: #202124;
}

#main {
    background-color: #282C2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    /*
    background-color: black;
    */
}

/* Grid and boxes */
.grid {
    border: 0.5rem solid #202124;
    box-shadow: 0 0 10px 4px black;
    background-color: #323639;
    display: grid;
    aspect-ratio: 1/1;
    width: 10%;
    flex: 3;
    grid-auto-flow: row;
    margin: 2%;
    /*
    transform: scale(1,0.5) rotate(45deg);
    */
}

.button {
    background-color: #323639;
    /*
    border-left: #ffa7a7 3px solid;
    border-right: #ffa7a7 3px solid;
    border-top: #ffa7a7 3px solid;
    border-bottom: #ffa7a7 3px solid;
    */
    border: 0px;
    border-radius: 5%;
    width: 90%;
    height: 13%
}

.button:hover {
    background-color: #d09292;
    box-shadow: 0 0 4px 3px #86678e;
    transform: scale(1.05);
}

.box {
    /*
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    */
    background-color: #323639;
}

.innerbox {
    width: 100%;
    height: 100%;
    /*border: 1px solid lightblue;*/
    background-color: white;
    /*animation: changecolor 10s infinite;*/
}

.changing {
    animation: changecolor 10s infinite;
    overflow: hidden;
}

.changingfast {
    animation: changecolor 1s infinite;
    overflow: hidden;
}

@keyframes changecolor {
  0% {background-color: #F7C8E0;}
  25%{background-color: #DFFFD8;}
  50%{background-color: #B4E4FF;}
  75%{background-color: #95BDFF;}
  100% {background-color: #F7C8E0;}
}

/* Color classes */
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.hidden {
    visibility: hidden;
}

/* Side bar */
.sidebar {
    display: flex;
    flex: 1;
    align-self: stretch;
    padding: 0;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Snake Game */
.apple {
    background-color: pink;
    border-radius: 100%;
}

.snake {
    background-color: olive;
}