html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    height: 100%;
    background-color: black;
}

/* Grid and boxes */
.grid {
    border: 10px solid black;
    background-color: gray;
    display: grid;
    flex-shrink: 0;
    grid-auto-flow: row;
    /*
    transform: scale(1,0.5) rotate(45deg);
    */
}

.box {
    /*
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    */
}

.innerbox {
    width: 100%;
    height: 100%;
    /*border: 1px solid lightblue;*/
    /*border-radius: 5px;*/
    background-color: black;
    /*animation: changecolor 10s infinite;*/
}

.animate {
    animation: changecolor 10s infinite;
    overflow: hidden;
}

@keyframes changecolor {
  0% {background-color: #F7C8E0;}
  25%{background-color: #DFFFD8;}
  50%{background-color: #B4E4FF;}
  75%{background-color: #95BDFF;}
  100% {background-color: #F7C8E0;}
}

/* Color classes */
.white {
    background-color: white;
}
.black {
    background-color: black;
}
